@import 'common.css';

#game-contents {
	height: 100%;
	display: grid;
	grid-template-rows: auto auto 1fr auto;
}

header, #start-stop-btn {
	padding: 0.5em;
}

header, #level-select {
	color: #fff;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 0.5em;
	font-size:  larger;
	background: linear-gradient(hsl(221, 79%, 75%), hsl(221, 79%, 60%));
}

#header-user__icon, #level-select {
	border-radius: 1em;
}

#header-user__icon {
	background-color: white;
	padding: 0.25em;
}

#level-select {
	border: none;
	outline: none;
	background-color: hsl(221, 79%, 60%);
	padding: 0.25em 0.5em;
}

#level-select[disabled] {
	background-color: hsl(221, 79%, 80%);
}

#score {
	justify-self: flex-end;
}

main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	padding: 1em;
	gap: 0.5em;
}

mole-slot {
	border: 1px solid black;
	border-radius: 0.5em;
}

@media (prefers-color-scheme: dark) {
	mole-slot {
		border: 1px solid #777;
	}
}

mole-slot[is-active] {
	background-image: url('../img/mole.jpg');
	background-position: center;
	background-size: cover;
}

.floating-feedback {
	position: absolute;
	font-size: xx-large;
	animation-duration: 500ms;
	transform-origin: center;
}

.floating-feedback--positive {
	animation-name: floating-feedback-positive-anim;
}

.floating-feedback--negative {
	animation-name: floating-feedback-negative-anim;
}

@keyframes floating-feedback-positive-anim {
	from {
		color: green;
	}

	to {
		color: lightgreen;
		transform: translateY(-20vh) scale(2);
		opacity: 0;
	}
}

@keyframes floating-feedback-negative-anim {
	from {
		color: red;
	}

	to {
		color: lightpink;
		transform: translateY(-20vh) scale(2);
		opacity: 0;
	}
}
