@import 'common.css';

body {
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

input, button {
	padding: 1em;
	width: 100%;
}

input {
	box-sizing: border-box;
}

button {
	cursor: pointer;
}

#home-contents {
	display: grid;
	grid-template-rows: auto auto;
	gap: 1em;
}

#home-contents__title {
	justify-self: center;
}

#home-contents__menu {
	display: grid;
	grid-template-rows: auto auto;
	gap: 0.5em;
}
